.b-solid{
    border-style: solid;
}
.b-dashed{
    border-style: dashed;
}
.b-dotted{
    border-style: dotted;
}
.b-double{
    border-style: double;
}
.b-circle{
    border-radius: 50%;
}
@for $i from 0 to 10 {
    .b-#{$i}{
        border-width: #{$i}px;
    }   
    .b-radius-#{$i}{
        border-radius: #{$i}px;
    } 
}