@import 'mixin';
.container {
    max-width: 100%;
    padding: 0 20px;
}
.container-1440{
    width: 100%;
    max-width: 1440px;
    @include center();
}
.container-1280{
    width: 100%;
    max-width: 1280px;
    @include center();
}
.container-1024{
    width: 100%;
    max-width: 1024px;
    @include center();
}
.container-960{
    width: 100%;
    max-width: 960px;
    @include center();
}
.container-800{
    width: 100%;
    max-width: 800px;
    @include center();
}
.container-768{
    width: 100%;
    max-width: 768px;
    @include center();
}
.container-640{
    width: 100%;
    max-width: 640px;
    @include center();
}
.container-480{
    width: 100%;
    max-width: 480px;
    @include center();
}
.container-320{
    width: 100%;
    max-width: 320px;
    @include center();
}