.row{
    display: flex;
}
.col{
    flex: 1;
}
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: flex-end;
}
.jc-space-between{
    justify-content: space-between;
}
.jc-space-around{
    justify-content: space-around;
}
.jc-start{
    justify-content: flex-start;
}
.ai-center{
    align-items: center;
}
.ai-end{
    align-items: flex-end;
}
.ai-space-between{
    align-items: space-between;
}
.ai-space-around{
    align-items: space-around;
}
.ai-start{
    align-items: flex-start;
}
.ai-stretch{
    align-items: stretch;
}
.fd-column{
    flex-direction: column;
}
.fd-row{
    flex-direction: row;
}
.fd-wrap{
    flex-wrap: wrap;
}
.fd-nowrap{
    flex-wrap: nowrap;
}
.fd-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.fd-nowrap-reverse{
    flex-wrap: nowrap-reverse;
}
.fd-column-reverse{
    flex-direction: column-reverse;
}
.fd-row-reverse{
    flex-direction: row-reverse;
}
@media(max-width: 640px){
    .row{
        flex-direction: column
    }
}