.over-hidden{
    overflow: hidden;
}
.over-visible{
    overflow: visible;
}
.over-scroll{
    overflow: scroll;
}
.over-auto{
    overflow: auto;
}
.over-inherit{
    overflow: inherit;
}
.over-unset{
    overflow: unset;
}
.over-initial{
    overflow: initial;
}