.p-absolute{
    position: absolute;
}
.p-relative{
    position: relative;
}
.p-fixed{
    position: fixed;
}
.p-static{
    position: static;
}
.p-sticky{
    position: sticky;
}
.p-initial{
    position: initial;
}
.p-inherit{
    position: inherit;
}
.p-unset{
    position: unset;
}
.p-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}